* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header .app__loginContainer {
  margin-right: 20px;
}

.app__header .app__logoutButton {
  margin-right: 20px;
}

.app__headerImage {
  padding: 20px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__uploadImage {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
